<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.itemservice.mapper.BoardMapper">

    <!-- 게시글 리스트 조회 -->
    <select id="getBoard" resultType="hello.itemservice.vo.BoardList">
        SELECT      TITLE       AS  title
             ,      CONTENT     AS  content
             ,      UID         AS  uid
             ,      DATE        AS  date
             ,      MODIFYDATE  AS  modifydate
             ,      FILENAME    AS  fileName
             ,      FILEPATH    AS  filePath
             ,      FILESIZE    AS  fileSize
        FROM     BOARD;
    </select>

    <!-- 게시글 수 카운팅 -->
    <select id="getBoardCount" parameterType="hello.itemservice.vo.SearchBoard" resultType="int">
        SELECT  COUNT(*)
        FROM    BOARD;
    </select>

    <!-- 게시글 작성 -->
    <insert id="setWrite" parameterType="hello.itemservice.vo.BoardList">
        INSERT INTO BOARD
        (
            TITLE
        ,   CONTENT
        ,   UID
        ,   DATE
        ,   FILENAME
        ,   FILEPATH
        ,   FILESIZE
        )
        VALUE
        (
            #{title}
        ,   #{content}
        ,   #{uid}
        ,   DATE_ADD(now(), INTERVAL 9 HOUR)
        ,   #{fileName}
        ,   #{filePath}
        ,   #{fileSize}
        )
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateLetter" parameterType="hello.itemservice.vo.BoardList">
        UPDATE  BOARD
        SET     TITLE       = #{title}
            ,   CONTENT     = #{content}
            ,   MODIFYDATE  = DATE_ADD(now(), INTERVAL 9 HOUR)
        WHERE   UID         = #{uid}
        AND     DATE        = #{date}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteLetter" parameterType="hello.itemservice.vo.BoardList">
        DELETE  FROM    BOARD
        WHERE   TITLE   = #{title}
        AND     UID     = #{uid}
        AND     DATE    = #{date}
    </delete>


</mapper>